h1, h2, p{
text-align: center;
}

.image {
margin: 10px;
padding: 2%;
position: relative;
}

.container { max-width: 960px; 
 }↓
#section {
background-color: #ffffff;
}

.section_color {
  background-color: #F5F5F7;
}
.background {
  background-color: #edeff7;
}

/* Section id features */
#features {
padding: 25px 0 20px;
}
#features .media.service-box:first-child {
margin-top: 30px;
}
#features .service-box:hover .pull-left {
-webkit-box-shadow: 0 0 0 5px #faa267;
-moz-box-shadow: 0 0 0 5px #faa267;
-ms-box-shadow: 0 0 0 5px #faa267;
-o-box-shadow: 0 0 0 5px #faa267;
box-shadow: 0 0 0 5px #faa267;
color: #ffffff;
}

#features .pull-left {
padding-left: 0;
padding-right: 0;
height: 64px;
line-height: 64px;
width: 64px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
text-align: center;
-webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
-moz-box-shadow: inset 0 0 0 1px #d7d7d7;
-ms-box-shadow: inset 0 0 0 1px #d7d7d7;
-o-box-shadow: inset 0 0 0 1px #d7d7d7;
box-shadow: inset 0 0 0 1px #d7d7d7;
-webkit-transition: box-shadow 0.2s;
-moz-transition: box-shadow 0.2s;
-ms-transition: box-shadow 0.2s;
-o-transition: box-shadow 0.2s;
transition: box-shadow 0.2s;
}

.media.service-box {
  margin: 25px 0;
}

 